---
---
body {
  background-image: linear-gradient(to bottom right, black,blue);
  background-image:url({{site.static}}/{{site.pgw}}{{site.bgimg}});
  background-image:url({{site.static}}/{{site.pgw}}/ipfs/uAXAALxIpChgBcBEU8jPY_IQZ6ToAfIs7luk1mnzxnWQSCW5hc2ExLmpwZxiAwwEKAggB/nasa1.jpg);
  background-image:url(http://127.0.0.1:8080/ipfs/uAXAALxIpChgBcBEU8jPY_IQZ6ToAfIs7luk1mnzxnWQSCW5hc2ExLmpwZxiAwwEKAggB/nasa1.jpg);
  background-size: cover;
  /* min-height: 100%; */
  color: #546;
}
img[alt=KYC] {
 display:block; float: right;
 padding: 0.5em;
 right-margin: 10px;
 text-align:right;
 width:140px;
}
#panel {
 opacity: 0.9;
}

a:link { color: grey; }
a:hover { color: hotpink; }
a:visited { color: #26B; }
a:active { color: blue; }

#first,.first {
 font-size: 24px;
 opacity: 0.98;
 color: white;
 position: sticky !important;
 padding: 2em;
 margin-top: 108px;
 margin-bottom: 1px;
 /* right: 50%; margin-right: -382px; */

 z-index: -10;
 background: rgba(80,0,240,.6) !important;
}

 /*
 bottom: -200px;
 background: rgb(220,200,240);
 */
}

div {
 font-size: 14px;
 background-image: linear-gradient(to bottom left, white,royalblue);
 border-radius: 3px;
 color: black;
 /*
 background-image: linear-gradient(to bottom right, white,darkgrey);
 box-shadow:2px 10px 4px rgba(0, 0, 0, 0.40);
  */
 padding: 0;
 text-align: justify;
 text-align-last: left;
}

div.content {
 color: white; background: rgba(25,5,50,.9); opacity: 1.0; 

 position: relative;
 max-width: 740px;
 margin-left: 100px;
 margin: auto;


 width: 100%;

  border-radius: 4px;
  box-shadow:2px 20px 10px rgba(0, 0, 0, 0.40);
}


pre { overflow: auto }

img { max-width: 95%; max-height: 720px; margin: auto;} 



